doctype html
html
  head
    title changeQuotes
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(type='text/javascript' src='vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    style.
      .img-fullsize {
          position: relative;
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
      }


      .message {
          font-size: 20px;
          text-align: center;
          color: #1DA4D1;
      }

      .img-name {
        text-align: center;
        font-size: 20px;
        color: #114877;
      }

      .img-type {
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        color: #114877;
      }

      .img-size {
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        color: #114877;
      }

      .img-close {
        font-size: 35px;
      }
  body
    .container
      h1 Images
        hr
        input(type='file',style='display: none', name='uploadFiles',id='uploadFiles',multiple)
        div(style='margin-bottom:15px')
          button.btn.btn-primary(id='addFilesButton') Add Image
        table#files.table
    script(type='text/javascript').
      var Images = null;

      function isNumber(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
      }

      function removeNotNumbers(arr){
        for(var i=0;i<arr.length;i++){
          var name = arr[i].split('.')[0];
          if(!isNumber(name)) {
            arr.splice(i, 1);
            removeNotNumbers(arr);
          }
        }
        return arr;
      }

      function getImages(){
         $.post('/changeImages', { action: 'get' }, function(r){
           console.log(r);
           Images = r.split(',');
            console.log(Images);
            Images = removeNotNumbers(Images);
            console.log(Images);
            Images = Images.sort(function sortFunction(a, b){
               if(+a.split('.')[0] < +b.split('.')[0]) return -1;
               if(+a.split('.')[0] > +b.split('.')[0]) return 1;
               return 0;
            });
            console.log(Images);
            putImages(Images);
         });
      }

      function putImages(Images){
        $.each(Images, function (index, value){
          var row = $('<tr>');
          row.hide();

          //create preview
          var preview = $('<td>');
          preview.width('275px');

          var img = $('<img>');
          img.attr('class', 'img-fullsize');

          img.attr('src', 'img/' + value);

          preview.append(img);

          row.attr('data-name', value);

          //create file info column
          var fileInfo = $('<td>');
          fileInfo.width('200px');
          fileInfo.attr('style', 'vertical-align: middle;');

          var fileName = $('<div class="img-name">');
          fileName.html(value);

          fileInfo.append(fileName);

          var button2 = $('<td>');
          button2.width('50px');

          var removeButton = $('<button>');
          removeButton.attr('class', 'close img-close');
          removeButton.html('&times');
          removeButton.click(function(){
              var name = $(this).parent().parent().data('name');
              $.post('/changeImages', { action: 'remove', file: name }, function(r){
                row.fadeOut(300, function(){
                    $(this).remove();
                });
              });
          });
          button2.append(removeButton);

          row.append(preview);
          row.append(fileInfo);
          row.append(button2);
          row.fadeIn();

          $('#files').prepend(row);

          return row;
        });
      }

      function JSUploader() {
          var baseClass = this;

          this.addFiles = function(files) {
              $.each(files, function(i, file) {
                  var temp = {file: file, progressTotal: 0, progressDone: 0, element: null, valid: false};

                  temp.valid = (file.type == 'image/png'
                      || file.type == 'image/jpeg'
                      || file.type == 'image/jpg'
                      || file.type == 'image/pjpeg'
                      || file.type == 'image/gif') && file.size / 1024 / 1024 < 2;

                  temp.element = baseClass.attachFileToView(temp);
                  baseClass.uploadFile(temp);
              });
          };

          this.uploadFile =  function(file) {
              if(file.valid) {
                  var data = new FormData();
                  data.append('uploadFile', file.file);

                  $.ajax({
                      url: '/uploadAdmin',
                      data: data,
                      cache: false,
                      contentType: false,
                      processData: false,
                      type: 'POST',
                      success: function (response) {
                          var message = file.element.find('td.message');
                          console.log(file.file.name);
                          var div = $("tbody").find("[data-name='" + file.file.name + "']");
                          console.log(div);
                          if (response.status == 'ok') {
                              message.html(response.text);
                              message.hide;
                              div.attr('data-name', response.file);
                              div.find('.img-name').text(response.file);
                          }
                          else {
                              message.html(response.errors);
                          }
                      },
                      xhr: function () {
                          var xhr = $.ajaxSettings.xhr();

                          if (xhr.upload) {
                              console.log('xhr upload');

                              xhr.upload.onprogress = function (e) {
                                  file.progressDone = e.position || e.loaded;
                                  file.progressTotal = e.totalSize || e.total;
                                  baseClass.updateFileProgress(null, file.progressDone, file.progressTotal, file.element);
                                  console.log('xhr.upload progress: ' + file.progressDone + ' / ' + file.progressTotal + ' = ' + (Math.floor(file.progressDone / file.progressTotal * 1000) / 10) + '%');
                              };
                          }

                          return xhr;
                      }
                  });
              }
          };


          this.updateFileProgress = function(index, done, total, view) {
              var percent = (Math.floor(done/total*1000)/10);

              var progress = view.find('div.progress-bar');

              progress.width(percent + '%');
              progress.html(percent + '%');
          };

          this.attachFileToView = function(file) {
              var row = $('<tr>');
              row.hide();

              var isValidType = (file.file.type == 'image/png'
                  || file.file.type == 'image/jpeg'
                  || file.file.type == 'image/jpg'
                  || file.type == 'image/pjpeg'
                  || file.type == 'image/gif');

              var isValidSize = file.file.size / 1024 / 1024 < 2;

              //create preview
              var preview = $('<td>');
              preview.width('275px');
              if(isValidType)
              {
                  var img = $('<img>');
                  img.attr('class', 'img-fullsize');

                  var reader = new FileReader();
                  reader.onload = function (e) {
                      img.attr('src', e.target.result);
                  }
                  reader.readAsDataURL(file.file);

                  preview.append(img);
              }

              row.attr('data-name', file.file.name);

              //create file info column
              var fileInfo = $('<td>');
              fileInfo.width('200px');
              fileInfo.attr('style', 'vertical-align: middle;');

              var fileName = $('<div class="img-name" title="name was changed by server">');
              fileName.html(file.file.name);

              var fileType = $('<div class="img-type">');
              fileType.html(file.file.type);

              var fileSize = $('<div class="img-size">');
              var size = file.file.size;

              if((file.file.size / 1024 / 1024) > 1.0) {
                  fileSize.html(Math.floor(file.file.size / 1024 / 1024) + ' MB');
              }
              else if((file.file.size / 1024) > 1.0) {
                  fileSize.html(Math.floor(file.file.size / 1024) + ' KB');
              }
              else {
                  fileSize.html(file.file.size + ' bytes');
              }


              fileInfo.append(fileName);
              fileInfo.append(fileType);
              fileInfo.append(fileSize);

              //create message column
              var messageColumn = $('<td>');
              messageColumn.attr('class', 'message');
              messageColumn.width('100px');
              if(!isValidType)
              {
                  messageColumn.html('Unsupported mimetype ' + file.file.type);
              }
              if(!isValidSize) {
                  messageColumn.html(messageColumn.html() + 'File size is ' + Math.floor(file.file.size / 1024 / 1024) + ' MB. Limit is2 MB.');
              }

              //create progress
              var progressColumn = $('<td>');
              progressColumn.attr('style', 'vertical-align: middle; width: 100px;');
              if(file.valid) {
                  var progress = $('<div>');

                  progress.attr('class', 'progress');

                  var progressBar = $('<div>');
                  progressBar.attr('class', 'progress-bar');
                  progressBar.attr('role', 'progressbar');
                  progressBar.html('0%');

                  progress.append(progressBar);
                  progressColumn.append(progress);
              }

              var button2 = $('<td>');
              button2.width('50px');

              var removeButton = $('<button>');
              removeButton.attr('class', 'close img-close');
              removeButton.html('&times');
              removeButton.click(function(){
                  var name = $(this).parent().parent().data('name');
                  $.post('/changeImages', { action: 'remove', file: name }, function(r){
                    row.fadeOut(300, function(){
                        $(this).remove();
                    });
                  });
              });
              button2.append(removeButton);

              row.append(preview);
              row.append(fileInfo);
              row.append(messageColumn);
              row.append(progressColumn);
              row.append(button2);
              row.fadeIn();

              $('#files').prepend(row);

              return row;
          };
      }

      var uploader = new JSUploader();

      $(document).ready(function() {
          getImages();
          
          $("#addFilesButton").click(function() {
              $("#uploadFiles").replaceWith($("#uploadFiles").clone(true));
              $("#uploadFiles").click();
          });

          $("#uploadFiles").change(function() {
              var files = this.files;

              uploader.addFiles(files);
          });

      });
