doctype html
html
  head
    title Social media image generator - Design engaging images for your social media posts in under 30 seconds
    meta(charset='utf-8')
    link(href='//yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Satisfy', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic%7CUbuntu:300,400,700,300italic,400italic,700italic%7CJosefin+Slab:300,400,700,300italic,400italic,700italic%7CMerriweather:400,300,300italic,400italic,700,700italic%7CSatisfy%7CMontserrat:400,700%7COpen+Sans:300italic,400italic,700italic,400,300,700%7CHammersmith+One%7CRoboto:400,300,300italic,400italic,700,700italic&amp;subset=latin,latin,latin,latin,latin,latin,latin,latin,latin', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/css/all.css')
    script(type='text/javascript' src='vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='vendor/fabric/dist/fabric.min.js')
    script(type='text/javascript' src='js/all.js')
  body
    .wrapper.wrapper_header
      .inner
        .header-title
          h1.header-title__title Social media image generator
          // /.header-title__title
          h2.header-title__subtitle Design engaging images for your social media posts in under 30 seconds
          // /.header-title__subtitle
        // /.header-title
      // /.inner
    // /.wrapper wrapper_header
    .wrapper.wrapper_content
      .inner
        .loading-div.js-loading-div
         i.ss-icon.ss-loading
        // /.loading-div
        .notification.js-notification
        // /.notification
        .block.block_left
          .b-textarea
            .b-textarea__textarea
              textarea.b-textarea__input.js-qoute(cols='30', rows='10')
              i.b-textarea__refresh.js-refresh-quote.ss-icon.ss-refresh
            // /.b-textarea__textarea
            .b-textarea__actions
              label.b-textarea__sub-text-check
                input(class="js-sub-text-check", type="checkbox")
                span.sub-text-toggle Add secondary text
              .b-textarea__add-logo 
                span Add a logo
                input(type="file", class="js-upload-logo")
              .b-textarea__second-text
                textarea.b-textarea__input.js-sub-text(cols='30', rows='10') A smaller headline :)
              .b-textarea__logo.cf
                .b-textarea__logo__headline.b-select__headline.b-headline Logo:
                .b-textarea__logo__line
                  //-input
                  .b-textarea__logo-wrap.js-logo
                    i.icon-remove.ss-icon.ss-delete.js-logo-remove
            // /.b-textarea__actions
          // /.b-textarea
          .b-select
            .b-select__headline.b-headline Headline Text Options:
            // /.b-select__headline
            .b-select__line.cf
              .b-select__select-group
                ul.b-select__select.b-select__font-family
                  i.ss-icon.ss-navigatedown
                  li.b-select__item.current.js-font-family-current Current One
                  ul.b-select__sub
                    li.b-select__item.js-font-family(data-value='Fredoka One', style="font-family: Fredoka One;") Fredoka One
                    li.b-select__item.js-font-family(data-value='Hammersmith One', style="font-family: Hammersmith One;") Hammersmith One
                    li.b-select__item.js-font-family(data-value='Josefin Slab', style="font-family: Josefin Slab;") Josefin Slab
                    li.b-select__item.js-font-family(data-value='Lato', style="font-family: Lato;") Lato
                    li.b-select__item.js-font-family(data-value='Merriweather', selected, style="font-family: Merriweather;") Merriweather
                    li.b-select__item.js-font-family(data-value='Montserrat', style="font-family: Montserrat;") Montserrat
                    li.b-select__item.js-font-family(data-value='Open Sans', style="font-family: Open Sans;") Open Sans
                    li.b-select__item.js-font-family(data-value='Roboto', style="font-family: Roboto;") Roboto
                    li.b-select__item.js-font-family(data-value='Satisfy', style="font-family: Satisfy;") Satisfy
                    li.b-select__item.js-font-family(data-value='Ubuntu', style="font-family: Ubuntu;") Ubuntu
                ul.b-select__select.b-select__font-size
                  i.ss-icon.ss-navigatedown
                  li.b-select__item.current.js-font-size-current Size
                  ul.b-select__sub
                    li.b-select__item.js-font-size(data-value='20') Small
                    li.b-select__item.js-font-size(data-value='22') Medium
                    li.b-select__item.js-font-size(data-value='24') Large
                    li.b-select__item.js-font-size(data-value='26') X-Large
                ul.b-select__select.b-select__font-color
                  i.ss-icon.ss-navigatedown
                  li.b-select__item.current.is-color.js-font-color-current
                  ul.b-select__sub
                    li.b-select__item(data-value='#fff').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__white
                    li.b-select__item(data-value='#323B43').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__black
                    li.b-select__item(data-value='#168EEA').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__blue
                    li.b-select__item(data-value='#EE4F4F').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__red
                    li.b-select__item(data-value='#2ecc71').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__emerland
                    li.b-select__item(data-value='#9b59b6').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__amethyst
                    li.b-select__item(data-value='#34495e').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__asphalt
                    li.b-select__item(data-value='#f1c40f').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__sun-flower
                    li.b-select__item(data-value='#f39c12').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__orange
                    li.b-select__item(data-value='#bdc3c7').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__silver
                    li.b-select__item(data-value='#FDE3A7').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__cape-honey
                    li.b-select__item(data-value='#1F3A93').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__jacksons-purple
                    li.b-select__item(data-value='#96281B').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__old-brick
                    li.b-select__item(data-value='#F62459').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__radical-red
                    li.b-select__item(data-value='#663399').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__rebecca-purple
                    li.b-select__item(data-value='#16EACE').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__aqua
              // /.b-select__select-group
              .b-select__advanced-dropdown
                .b-adv-dropdown
                  span.b-adv-dropdown__text Advanced &nbsp;
                    i.b-adv-dropdown__icon.ss-icon.ss-navigatedown
                    .b-adv-dropdown-popup
                      .b-adv-dropdown-popup__line.b-adv-dropdown-popup__line_header
                        label
                          input.js-font-style(type='checkbox')
                          |  Italics
                      // /.b-adv-dropdown-popup__line b-adv-dropdown-popup__line_header
                      .b-adv-dropdown-popup__line.b-adv-dropdown-popup__styles
                        label
                          input.js-font-weight(type='radio', name='fontWeight' value='300')
                          |  Light
                        label
                          input.js-font-weight(type='radio', name='fontWeight', value='400', checked)
                          |  Regular
                        label
                          input.js-font-weight(type='radio', name='fontWeight' value='700')
                          |  Bold
                      // /.b-adv-dropdown-popup__styles
                    // /.b-adv-dropdown-popup
                // /.b-adv-dropdown
              // /.b-select__advanced-dropdown
            // /.b-select__line
          // /.b-select
          .b-background-options
            .b-background-options__title Background Options:
            // /.b-background-options__title
            .b-background-options__line.cf
              .b-radio
                .b-radio-inputs
                  label.b-radio-inputs__label.b-radio-inputs__label-first
                    input(class='js-background-type' type='radio', name='bg-option', value='normal' checked='checked')
                    |  Normal
                  label.b-radio-inputs__label
                    input(class='js-background-type' type='radio', name='bg-option', value='blur')
                    |  Blurred
                  label.b-radio-inputs__label
                    input(class='js-background-type' type='radio', name='bg-option', value='black')
                    |  Black & White
                // /.b-radio-inputs
              // /.b-radio
              .b-checkbox-single
                input(class="js-bg-contrast" type='checkbox', checked='checked')
                label(for='single-checkbox') Increased Contrast 
              // /.b-checkbox-single
            // /.b-background-options__line
            .b-images
              ul.b-images__list
                .b-images__div
                  li.b-images__item.b-images__item_upload
                    .b-images__item_upload__text Upload Photo
                      input(type="file", class="js-upload-background")
                  // /.b-images__item b-images__item_upload
                // /.b-images__div
                .b-images__div
                // /.b-images__div
            // /.b-images
          // /.b-background-options
        // /.block block_left
        .block.block_right
          .b-main-image-wrap
            .b-main-image
              canvas#mainCanvas(width=512, height=256)
              // /.b-main-image__text
            // /.b-main-image
            .b-actions
              .b-actions__box.b-actions__box_download
                a.link-download.js-save-result(href='#') Download
              // /.b-actions__box b-actions__box_download
            // /.b-actions
          // /.b-main-image-wrap
        // /.block block_right
      // /.inner
    // /.wrapper wrapper_content
