doctype html
html
  head
    title changeQuotes
    meta(charset='utf-8')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(type='text/javascript' src='vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    style.
      .header {
        margin-top: 20px;
        text-align: center;
        color: #074A7B;
        font-size: 35px;
      }

      #addQuote {
        position: absolute;
        top: 38px;
        left: 50px;
      }

      #inputQuote, #editQuote {
        margin-left: 11px;
        width: 500px;
      }

      #inputAuthor, #editAuthor {
        margin-left: 8px;
      }

      .editQuote {
        margin-right: 15px;
      }
  body
    .container
      .well.well-sm.header Quotes
      button.btn.btn-primary#addQuote(data-toggle="modal" data-target="#myModal") ADD
    table.table.table-hover#quotesTable
      thead
        tr
          th #
          th quote
          th author
      tbody
    #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &#215;
            h4#myModalLabel.modal-title Add Quote
          .modal-body
            form
              br
              label Quote
              input#inputQuote(type="text", value="“”")
              br
              br
              label Author
              input#inputAuthor(type="text", value="– ")
              br
              br
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
            button#saveQuote.btn.btn-primary(type="button") Add
    #editModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel1", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &#215;
            h4#myModalLabel1.modal-title Add Quote
          .modal-body
            form
              br
              label Quote
              input#editQuote(type="text", value="“”")
              br
              br
              label Author
              input#editAuthor(type="text", value="– ")
              br
              br
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
            button#saveEdit.btn.btn-primary(type="button") Save Changes
    script(type='text/javascript').
      var quotes = null;
      var activeQuote = null;

      function getQuotes(){
        $.post('/changeQuotes', { action: 'get' }, function(data){
            console.log('data');
            console.log(JSON.parse(data));
            quotes = JSON.parse(data);
            quotes.reverse();

            $.each(quotes, function(index, value){
               var number = index + 1;
               $('#quotesTable tbody').append('<tr data-index='+index+'><td>'+number+'</td><td class="quote">'+value.quote+'</td><td class="author">'+value.author+'</td><td><button type="button" class="btn btn-info editQuote">Edit</button><button type="button" class="btn btn-danger removeQuote">remove</button></td></tr>');
            });
        });
      }
      
      $(function(){
        getQuotes();

        $(document).on('click', '.editQuote', function(e){
           e.stopPropagation();
           e.preventDefault();

           var parent = $(this).parent().parent();
           var index = parent.data('index');
           var quote = quotes[index];
           activeQuote = index;

           $('#editQuote').val(quote.quote);
           $('#editAuthor').val(quote.author);
           $('#editModal').modal('toggle');
        });

        $('#saveEdit').click(function(){
          var author = $('#editAuthor').val();
          var quote = $('#editQuote').val();
          quotes[activeQuote] = { author: author, quote: quote };
          $.post('/changeQuotes', { action: 'edit', quote: JSON.stringify(quotes, null, 4) }, function(data){
              if(data == 'ok') {
                 var that = $("tbody").find("[data-index='" + activeQuote + "']");
                 that.find('.author').text(author);
                 that.find('.quote').text(quote);
                 activeQuote = null;
                 $('#editModal').modal('toggle');
              }
          });
        });

        $(document).on('click', '.removeQuote', function(){
           var parent = $(this).parent().parent()
           var index = parent.data('index');
           quotes.splice(index, 1);
           $.post('/changeQuotes', { action: 'edit', quote: JSON.stringify(quotes, null, 4) }, function(data){
               if(data == 'ok') {
                  parent.remove();
               }
           });
        });

        $('#saveQuote').click(function(){
          var author = $('#inputAuthor').val();
          var quote = $('#inputQuote').val();
          quotes.push({ author: author, quote: quote });
          $.post('/changeQuotes', { action: 'edit', quote: JSON.stringify(quotes, null, 4) }, function(data){
              if(data == 'ok') {
                 var number = quotes.length;
                 var index = quotes.length - 1;
                 $('#quotesTable tbody').prepend('<tr class="editQuote" data-index='+index+'><td>'+number+'</td><td class="quote">'+quote+'</td><td class="author">'+author+'</td><td><button type="button" class="btn btn-info editQuote">Edit</button><button type="button" class="btn btn-danger removeQuote">remove</button></td></tr>');
                 $('#myModal').modal('toggle');
              }
          });
        });
      });